/* font style */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quintessential&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/* colours */
:root {
    --misty-rose: #ffd9daff;
    --blush: #ea638cff;
    --murrey: #89023eff;
    --gunmetal: #30343fff;
    --eerie-black: #1b2021ff;

    --yinmn-blue: #355070ff;
    --chinese-violet: #6d597aff;
    --china-rose: #b56576ff;
    --light-coral: #e56b6fff;
    --buff: #eaac8bff;
}

/* Style of web */
body {
    background-color: var(--yinmn-blue);
    color: var(--yinmn-blue);
    font-family: "Cormorant Garamond", serif;
}

.kontainer {
    width: 800px;
    background-color: var(--chinese-violet);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

img {
    width: 400px;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 60px;
    border-bottom: 5px dotted var(--yinmn-blue);
    margin-bottom: 20px;
    font-family: "Quintessential", serif;
    width: 200px;
    margin: auto;
    text-shadow: 2px 2px 4px #eaac8bff;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}

.part {
    display: flex;
    background-color: var(--china-rose);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.intro {
    background-color: var(--china-rose);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

.about {
    text-align: center;
}

ul {
    margin-left: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 5px;
}